.image:before {
  background-image: url("/images/overlay.png");
}

#bg:before {
  background-image: linear-gradient(to top, rgba(19, 21, 25, 0.5), rgba(19, 21, 25, 0.5)), url("/images/overlay.png");
}

#bg:after {
  background-image: url("/images/bg.jpg");
}

input[type='tel'] {
  height: 2.75rem;
}

.wrap-text {
  float: left;
  margin-right: 20px;
}

.address-wrap {
  display: inline-block;
  margin-right: 50px;
}

.resource-link-wrap {
  margin-bottom: 10px;
}
